# DJANGO CONFIGURATION
SECRET_KEY=your-secret-key-here
DEBUG=True

# DATABASE CONFIGURATION
DB_NAME="your_database_name"
DB_USER="postgres"
DB_PASSWORD="your-database-password"
DB_HOST="localhost"
DB_PORT="5432"
